.creation#creation
  .container
    div(data-aos="fade-in" data-aos-duration="1800").creation__title.title Creation
    div(data-aos="fade-in" data-aos-duration="1800" data-aos-delay="400").creation__row  
      .creation__item.item
        .item__img
          img(src=require("../../../images/icons/bolos/design.svg"), alt="web-design")
        .item__description Graphic design
      .creation__item.item
        .item__img
          img(src=require("../../../images/icons/bolos/webPage.svg"), alt="web")
        .item__description Professional Websites
      .creation__item.item
        .item__img
          img(src=require("../../../images/icons/bolos/card.svg"), alt="card")
        .item__description Virtual Business Cards
    div(data-aos="fade-in" data-aos-duration="1800").creation__title.title Related services
    div(data-aos="fade-in" data-aos-duration="1800" data-aos-delay="400").creation__row
      .creation__item.item
        .item__img
          img(src=require("../../../images/icons/bolos/maintenance.svg"), alt="maintenance")
        .item__description Website maintenance
      .creation__item.item
        .item__img
          img(src=require("../../../images/icons/bolos/www.svg"), alt="hosting")
        .item__description Domain and Hosting Assistance
      .creation__item.item
        .item__img
          img(src=require("../../../images/icons/bolos/coding.svg"), alt="coding")
        .item__description Front-End Programming Services
    .creation__box
      div(data-aos="fade-in" data-aos-duration="1800").creation__question Our guarantees
      div(data-aos="fade-in" data-aos-duration="1800").creation__about
        ul 
          li Technical support
          li Development
          li Consulting
    a(data-aos="fade-in" data-aos-duration="1800").creation__btn.btn(href="#ask") Learn more!
      

    
    