.creation#creation
  .container
    div(data-aos="fade-in" data-aos-duration="1800").creation__title.title Criamos
    div(data-aos="fade-in" data-aos-duration="1800" data-aos-delay="400").creation__row  
      .creation__item.item
        .item__img
          img(src=require("../../../images/icons/bolos/design.svg"), alt="web-design")
        .item__description Desenho Gráfico
      .creation__item.item
        .item__img
          img(src=require("../../../images/icons/bolos/webPage.svg"), alt="web")
        .item__description Websites Profissionais
      .creation__item.item
        .item__img
          img(src=require("../../../images/icons/bolos/card.svg"), alt="card")
        .item__description Cartões de Visita Virtuais
    div(data-aos="fade-in" data-aos-duration="1800").creation__title.title Serviços relacionados
    div(data-aos="fade-in" data-aos-duration="1800" data-aos-delay="400").creation__row
      .creation__item.item
        .item__img
          img(src=require("../../../images/icons/bolos/maintenance.svg"), alt="maintenance")
        .item__description Manutenção de Websites
      .creation__item.item
        .item__img
          img(src=require("../../../images/icons/bolos/www.svg"), alt="hosting")
        .item__description Assesoramento com Domínios e Hospedagens
      .creation__item.item
        .item__img
          img(src=require("../../../images/icons/bolos/coding.svg"), alt="coding")
        .item__description Serviços de Programação Front-End
    .creation__box
      div(data-aos="fade-in" data-aos-duration="1800").creation__question O que garantimos ?
      div(data-aos="fade-in" data-aos-duration="1800").creation__about
        ul 
          li Suporte técnico
          li Desenvolvimento de funcionalidades
          li Consultoria
    a(data-aos="fade-in" data-aos-duration="1800").creation__btn.btn(href="#ask") Saiba mais!
      

    
    