.creation#creation
  .container
    .creation__title.title Creation
    .creation__row  
      .creation__item.item
        .item__img
          img(src=require("../../../images/icons/bolos/design.svg"), alt="web-design")
        .item__description Graphic design
      .creation__item.item
        .item__img
          img(src=require("../../../images/icons/bolos/webPage.svg"), alt="web")
        .item__description Professional Websites
      .creation__item.item
        .item__img
          img(src=require("../../../images/icons/bolos/card.svg"), alt="card")
        .item__description Virtual Business Cards
    .creation__title.title Related services
    .creation__row
      .creation__item.item
        .item__img
          img(src=require("../../../images/icons/bolos/maintenance.svg"), alt="maintenance")
        .item__description Websites maintenance
      .creation__item.item
        .item__img
          img(src=require("../../../images/icons/bolos/www.svg"), alt="hosting")
        .item__description Domain and Hosting Assistance
      .creation__item.item
        .item__img
          img(src=require("../../../images/icons/bolos/coding.svg"), alt="coding")
        .item__description Front-End Programming Services
    .creation__box
      .creation__question Our guarantees
      .creation__about
        ul 
          li Technical support
          li Features development
          li Consulting
    a.creation__btn.btn(href="#ask") Learn more!
      

    
    