.creation#creation
  .container
    div(data-aos="fade-in" data-aos-duration="1800").creation__title.title Creamos
    .creation__row  
      .creation__item.item
        .item__img
          img(src=require("../../../images/icons/bolos/design.svg"), alt="web-design")
        .item__description Diseño gráfico
      .creation__item.item
        .item__img
          img(src=require("../../../images/icons/bolos/webPage.svg"), alt="web")
        .item__description Sitios WEB profesionales
      .creation__item.item
        .item__img
          img(src=require("../../../images/icons/bolos/card.svg"), alt="card")
        .item__description Tarjetas de visita virtuales
    div(data-aos="fade-in" data-aos-duration="1800").creation__title.title Servicios relacionados
    .creation__row
      .creation__item.item
        .item__img
          img(src=require("../../../images/icons/bolos/maintenance.svg"), alt="maintenance")
        .item__description Mantenimiento del sitio WEB
      .creation__item.item
        .item__img
          img(src=require("../../../images/icons/bolos/www.svg"), alt="hosting")
        .item__description Asesoría en Dominios y Hostings
      .creation__item.item
        .item__img
          img(src=require("../../../images/icons/bolos/coding.svg"), alt="coding")
        .item__description Servicios de programación front-end
    .creation__box
      .creation__question ¿Qué garantizamos?
      .creation__about
        ul 
          li Soporte técnico
          li Desarrollo de funciones
          li Consultoría
    a.creation__btn.btn(href="#ask") ¡Saber mas!
      

    
    