.portfolio
  .container
    div(data-aos="fade-in" data-aos-duration="1800").portfolio__title.title Nuestros Proyectos
    //Slider main container
    div(data-aos="fade-in" data-aos-duration="1800" data-aos-delay="400").swiper
      //Additional required wrapper
      .swiper-wrapper
        //Slides
        .swiper-slide
          img.lazy(src=require("../../../images/placeholder.png"), data-src=require("../../../images/pizzas.jpg"), alt="projetos realizados") 
        .swiper-slide
          img.lazy(src=require("../../../images/placeholder.png"), data-src=require("../../../images/oliveira.jpg"), alt="projetos realizados")
        .swiper-slide
          img.lazy(src=require("../../../images/placeholder.png"), data-src=require("../../../images/sasha.jpg"), alt="projetos realizados")  
        .swiper-slide
          img.lazy(src=require("../../../images/placeholder.png"), data-src=require("../../../images/margarita.jpg"), alt="projetos realizados")
        .swiper-slide
          img.lazy(src=require("../../../images/placeholder.png"), data-src=require("../../../images/honda.jpg"), alt="projetos realizados")
        .swiper-slide
          img.lazy(src=require("../../../images/placeholder.png"), data-src=require("../../../images/iphone.jpg"), alt="projetos realizados")
        .swiper-slide
          img.lazy(src=require("../../../images/placeholder.png"), data-src=require("../../../images/evraz.jpg"), alt="projetos realizados")
        .swiper-slide
          img.lazy(src=require("../../../images/placeholder.png"), data-src=require("../../../images/ozone.jpg"), alt="projetos realizados")
        .swiper-slide
          img.lazy(src=require("../../../images/placeholder.png"), data-src=require("../../../images/quiz.jpg"), alt="projetos realizados")
        .swiper-slide
          img.lazy(src=require("../../../images/placeholder.png"), data-src=require("../../../images/sinergia.jpg"), alt="projetos realizados")
      //pagination
      .swiper-pagination
    //navigation buttons
  .swiper-button-prev
  .swiper-button-next