footer.footer#contacts
  .container 
    p.footer__title.title Contacts
    .footer__row
      a.footer__item(href="https://wa.me/5521999365384")
        img(src=require("../../../images/icons/new-footer-icons/whatsapp.svg"), alt="whatsapp")
        p +55 21-99936-5384
      .footer__item
        img(src=require("../../../images/icons/new-footer-icons/mail.svg"), alt="email")
        p contato@eformaliza.com
      a.footer__item(href= "https://www.instagram.com/eformaliza/") 
        img(src=require("../../../images/icons/new-footer-icons/instagram.svg"), alt="instagram")
        p @eformaliza
      //- a.footer__item(href="https://facebook.com") 
      //-   img(src=require("../../../images/icons/new-footer-icons/facebook.svg"), alt="facebook")
      //-   p facebook
    .footer__box 
      .footer__unit 
        .footer__dove 
          img.lazy(src=require("../../../images/placeholder.png"), data-src=require("../../../images/dove.jpg"), alt="peace")
      .footer__unit 
        .footer__copyright 
          p Created by 
            a(href="https://eformaliza.com/eng.html") eformaliza.com
  